# NOTE:
# If you are running this compliance after the server has been hardened, 
# change the become_method to sudo instead of su -

[privilege_escalation]
become=true
#become_method=su
become_method=sudo
become_user=root
become_ask_pass=true
#become_flags='-'
